.wrapper {
    overflow: auto;
    position: relative;
    height: 100%;
    width: 100%;
}

.table {
    border: 1px solid rgba(255, 255, 255, 0.05);
    border-collapse: collapse;
    td,
    th {
        padding: 15px;
        border: none;
        max-width: 25%;
    }

    td {
        vertical-align: top;
    }
    li {
        //word-break: break-all;
    }
}

.tr:nth-child(odd) {
    background-color: rgba(255, 255, 255, 0.05);
}

.off {
    color: gray;
    text-align: center;
}
.warn {
    color: orange;
    text-align: center;
}
.error {
    color: crimson;
    text-align: center;
}
