@import '../config';
.grid {
    position: absolute;
    top: $padding;
    left: $padding;
    right: $padding;
    bottom: $padding;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: $padding;
    > div {
        overflow: auto;
        h2 {
            margin-bottom: 25px;
        }
    }
}
