.button {
    $height: 35px;
    background-color: rgba(200, 200, 200, 0.02);
    height: $height;
    width: $height;
    display: inline-grid;
    vertical-align: middle;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    align-content: center;
    justify-content: center;
    margin-right: 5px;
    cursor: pointer;
    border: 1px solid rgba(45, 45, 45, 1);
}

.none,
.warning,
.error {
    font-size: 18px;
    text-align: center;
    color: rgb(180, 180, 180);
}

.selected_disabled {
    background-color: rgb(63, 63, 63);
    .none {
        color: white;
    }
}

.selected_warning {
    background-color: orange;
    .warning {
        color: rgb(34, 34, 34);
    }
}

.selected_error {
    background-color: rgb(180, 1, 37);
    .error {
        color: white;
    }
}
